.cart-modal {
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list {
  max-height: 400px;
  overflow: auto;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  padding: 1.75rem 2rem;
  margin-block: 1rem;
}

.cart-item:not(:last-of-type) {
  border-bottom: 2px solid var(--secondary-color);
}

.order > span {
  font-size: 2.25rem;
  font-weight: 600;
}

.price {
  font-weight: 600;
  color: var(--secondary-color);
  min-width: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.price span:last-child {
  border: 2px solid #ddd;
  padding: 0.25rem 1rem;
}

.actions {
  display: flex;
  align-items: flex-end;
}

.actions button {
  font-weight: 900;
  min-width: 5rem;
  border: 1px solid var(--secondary-color);
  background-color: transparent;
  color: var(--secondary-color);
  margin-right: 0.5rem;
  padding: 0;
}

.actions button:hover {
  background-color: var(--secondary-color);
  color: var(--white);
}

.actions button.trash {
  color: #000;
  background-color: var(--grey);
  border: none;
  font-size: 1.4rem;
}

.actions button.trash:hover {
  transform: scale(0.9);
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.total-border {
  border-top: 2px solid #e6e6e6;
}

.total span {
  font-weight: 700;
}

.total span:nth-child(1) {
  font-size: 2.5rem;
}

.action {
  margin-left: auto;
}

.action button {
  border-radius: 20rem;
  margin-left: 0.25rem;
  border: 1px solid var(--secondary-color);
}

.close {
  background-color: var(--white);
  color: var(--secondary-color);
}

@media (max-width: 700px) {
  .cart-item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .actions {
    margin-top: 20px;
  }
}
